body{
    padding: 0;
    margin: 0;
    background: #4D4C7D;
}

nav {
    background-color: rgb(207, 161, 209);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.buttons-container button {
    background-color: #363062;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    height: 40px;
}

#datos {
    height: 150px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.byplace {
    min-width: 250px;
    height: 120px;
    width: 335px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;

    overflow-x: hidden;
    overflow-y: auto;
}

.place-item {
    width: 100%;
    height: 50px;
    background-color: rgb(187, 187, 187);
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;

    display: flex;
}

.index {
    width: 20%;
    height: 100%;
    border-right: 1px solid gray;
    font-size: 15px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.place-item-content {
    padding: 5px;
}

.testing {
    opacity: 0;
}

.place-item-coords {
    font-weight: 600;
    border-bottom: 2px solid gray;
    white-space: nowrap;
}

.place-item-time {
    font-style: italic;
}

.x-shower {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-section {
    border: 1px solid green;
    width: 100%;
    height: 90vh;
}

#mapa{
    width: 100vw;
    height: 66vh;
}
.grid {
    min-width: 500px;
    background: white;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid > .name {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div{
    text-align: center;
    border: black solid 1px;
}

.fechas{
    background-color: rgb(207, 161, 209);
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
}

.fechas > div {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.fechas label {
    font-weight: 700;
    font-size: 18px;
}

#title{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#button{
    text-align: center;
    width: 290px;
}

@media screen and (max-width:600px) {
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 45%;
        background: white;
        margin: 2%;
        margin-left: 10px;
        border: black solid 2px;
    }

    #fechas{
        float: right;
        top: 0%;
        background-color: rgb(207, 161, 209);
        width: 100px;
        height: 80px;
        margin: 2px;
        margin-right: 20%;
        text-align: center;
        color: white;
        border: #fff solid 2px;

    }

    #button{
        text-align: center;
        width: 160px;
    }

    #start{
        width: 154px;
    }

    #stop{
        width: 154px;
    }
}